@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    background: #161616;
    scroll-behavior: smooth;
}

.home-img-1 {
    background-image: url(../img/photo_album16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

.shade {
    background: rgba(9, 9, 12, 0.74);
    background-size: cover;
    height: 100vh;
    
}

.home-img-1 h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 6rem;
    border: 2px solid white;
    color: white;
    font-size: 48px;
    font-family: Alcubierre;
    font-weight: bolder;
}

.home-img-1 h1 span {
    font-weight: lighter;
    font-size: 24px;
}

.fa-angle-down {
    color: white;
    position: absolute;
    top: 85%;
    animation: arrow-fade 1s infinite alternate;
}

@keyframes arrow-fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

/********  Navigation ********/

#navbar {
    background: none;
    width: 80%;
    margin: 2rem auto;
    box-shadow: none;
}

.brand-logo {
    font-family: Alcubierre;
    border: 2px solid white;
    padding: 0.5rem 3rem !important;
    text-align: center;
}

.nav-links {
    font-family: Alcubierre;
}

.dropdown-content {
    background-color: rgba(9, 9, 12, 0.74) !important;
}

.dropdown-content a {
    font-family: Alcubierre;
    border: 2px solid white;
    color: white !important;
}

.dropdown-trigger {
    font-family: Alcubierre;
}



/********  HOME PAGE ********/
.home-video-container {
    max-width: 1000px;
    margin: 0 auto 4rem auto;
    padding: 100px 0 0;
}

.embed-home-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-home-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.container img {
    width: 40%;
    padding: 2rem;
}

.container p {
    margin: auto;
    padding: 2rem;
    font-size: 40px;
    color: white;
}

.home-img-3 {
    background: url(../img/photo_album25.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 45vh;
}

/********  TURNING ON AND OFF PAGE ********/

.page {
    display: none;
    min-height: 100%;
}

.active {
    display: block;
}


/********  PORTFOLIO PAGE ********/

.photo-gallery {
    width: 1400px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-template-rows: auto;
    grid-gap: .75rem;
    grid-template-areas: 
        'img-1 img-1 img-2 img-2' 
        'img-1 img-1 img-3 img-3' 
        'img-4 img-4 img-4 img-5' 
        'img-6 img-6 img-7 img-7' 
        'img-8 img-9 img-10 img-10' 
        'img-11 img-11 img-12 img-12'
        'img-13 img-14 img-14 img-15' 
        'img-16 img-17 img-17 img-17' 
        'img-18 img-18 img-19 img-19' 
        'img-18 img-18 img-20 img-21' ;

}

.img-1 {
    grid-area: img-1;
}
.img-2 {
    grid-area: img-2;
}
.img-3 {
    grid-area: img-3;
}
.img-4 {
    grid-area: img-4;
}
.img-5 {
    grid-area: img-5;
}
.img-6 {
    grid-area: img-6;
}
.img-7 {
    grid-area: img-7;
}
.img-8 {
    grid-area: img-8;
}
.img-9 {
    grid-area: img-9;
}
.img-10 {
    grid-area: img-10;
}
.img-11 {
    grid-area: img-11;
}
.img-12 {
    grid-area: img-12;
}
.img-13 {
    grid-area: img-13;
}
.img-14 {
    grid-area: img-14;
}
.img-15 {
    grid-area: img-15;
}
.img-16 {
    grid-area: img-16;
}
.img-17 {
    grid-area: img-17;
}
.img-18 {
    grid-area: img-18;
}
.img-19 {
    grid-area: img-19;
}
.img-20 {
    grid-area: img-20;
}
.img-21 {
    grid-area: img-21;
}

.photo-container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .photo-container {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .photo-container {
        grid-template-areas: 
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8'
            'img-9 img-9 img-9 img-9'
            'img-10 img-10 img-10 img-10'
            'img-11 img-11 img-11 img-11'
            'img-12 img-12 img-12 img-12'
            'img-13 img-13 img-13 img-13'
            'img-14 img-14 img-14 img-14'
            'img-15 img-15 img-15 img-15'
            'img-16 img-16 img-16 img-16'
            'img-17 img-17 img-17 img-17'
            'img-18 img-18 img-18 img-18'
            'img-19 img-19 img-19 img-19'
            'img-20 img-20 img-20 img-20'
            'img-21 img-21 img-21 img-21';
    }

    .photo-container .img {
        object-fit: cover;
        height: auto;
    }
}

/********  ABOUT PAGE ********/

/********  CONTACT PAGE ********/

#contact {
    width: 60%;
}
